<!Doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .login-form {
            display: flex;
            margin-top: 70px;
            height: 100vh; /* Barcha balandlik bo'ylab markazlash */
        }
    </style>
    <title>Laravel</title>
</head>
<body>

    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Checking confirm code</div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="code" class="col-md-4 col-form-label text-md-right">Code</label>
                                        <div class="col-md-6">
                                            <input type="password" id="code" class="form-control" name="code" required>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Check code
                                        </button>
                                    </div>
                                </form>
                                {% if error %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endif %}
                                {% if success %}
                                    <p style="color: green;">{{ success }}</p>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
    </html>